{% extends "plantilla.html" %}
{% block contenido %}

<h1>AGREGA OTRO VIDEOJUEGO</h1>
<form action="GuardarJ" method="post" id="frm_nuevoJuego" enctype="multipart/form-data">
    {% csrf_token %}
    
    <label for="">Titulo:</label><br>
    <input class="form-control" type="text" name="titulo" id="titulo" placeholder="Ingrese el titulo"> <br>
    <label for="">Genero:</label><br>
    <input class="form-control" type="text" name="genero" id="genero" placeholder="Ingrese el genero"> <br>
    <label for="">Desarollador:</label><br>
    <input class="form-control" type="text" name="desarollador" id="desarollador" placeholder="Ingrese quien lo creo"> <br>
    <label for="">Fecha de Lanzamiento:</label><br>
    <input class="form-control" type="text" name="fecha_lanzamiento" id="fecha_lanzamiento" placeholder="Ingrese la fecha"> <br>
    <label for="">Clasificacion:</label><br>
    <input class="form-control" type="text" name="clasificacion" id="clasificacion" placeholder="Ingrese para que edad es"> <br>

    <label for="">Imagen del juego:</label><br>
    <input class="form-control" type="file" name="logo" id="logo" accept="image/*" placeholder="Sleciones una imagen"><br>

    <label for="pdf">Archivo PDF de las capacidades:</label><br>
    <input class="form-control" type="file" name="pdf" id="pdf" accept="application/pdf"><br>
    
    <label for="plataforma">Plataformas Disponibles:</label><br>
    <select name="plataforma" id="plataforma">
        {% for plataforma in plataforma %}
        <option value="{{ plataforma.id }}">{{ plataforma.nombre }}</option>
        {% endfor %}
    </select><br><br>

    <button class="btn btn-success" type="submit">GUARDAR</button> <br><br>
    <a class="btn btn-outline-danger" href="/">CANCELAR</a> <br><br>

</form>

<script>
    $("#frm_nuevoJuego").validate({
        rules: {

            "titulo": {
                required: true,
                minlength: 5, // maxlenth cunrta los caracteres 
                maxlength: 15,
            },

            "genero": {
                required: true
            },

            "desarollador": {
                required: true
            },

            "fecha_lanzamiento": {
                required: true
            },

            "clasificacion": {
                required: true

        },
        messages: {
            "titulo": {
                required: "Campo Obligatorio",
                minlength: "ingresse bien el nombre   ", 
                maxlength: "Tampoco tan largo el nombre ",
            },
            "genero": {
                required: "Ingrese que genero es"
            },

            "desarollador": {
                required: "Ingrese quien creo el juego"
            },

            "fecha_lanzamiento": {
                required: "Ingrese la fecha que se lanzo"
            },

            "clasificacion": {
                required: "Ingrese sueldo",

            }
            
        }
    });

    
        $("#logo").fileinput({
            //language: "es",
            allowedFileExtensions: ["png|jpg|jpeg"],
            showCaption: false,
            dropZoneEnabled: true,
            showClose: false
    });
    </script>


</script>
{% endblock %}