{% extends "plantilla.html" %}
{% load static %}
{% block contenido %}
<div class="row mt-4">
    <div class="col-md-3"></div>
    <div class="col-md-6 bg-light p-4 rounded shadow">
        <h1 class="text-center mb-4" style="color: black;">Editar Videojuego</h1>

        <form action="{% url 'procesarEdicionVideojuego' videojuego.id %}" id="formEditarJuego" enctype="multipart/form-data" method="post">
            {% csrf_token %}

            <div class="mb-3">
                <label for="titulo" class="form-label">Título del Videojuego:</label>
                <input type="text" class="form-control" name="titulo" id="titulo" value="{{ videojuego.titulo }}" required>
            </div>

            <div class="mb-3">
                <label for="genero" class="form-label">Género:</label>
                <input type="text" class="form-control" name="genero" id="genero" value="{{ videojuego.genero }}" required>
            </div>

            <div class="mb-3">
                <label for="desarrollador" class="form-label">Desarrollador:</label>
                <input type="text" class="form-control" name="desarrollador" id="desarrollador" value="{{ videojuego.desarrollador }}" required>
            </div>

            <div class="mb-3">
                <label for="fecha_lanzamiento" class="form-label">Fecha de Lanzamiento:</label>
                <input type="date" class="form-control" name="fecha_lanzamiento" id="fecha_lanzamiento" value="{{ videojuego.fecha_lanzamiento }}" required>
            </div>

            <div class="mb-3">
                <label for="clasificacion" class="form-label">Clasificación:</label>
                <input type="text" class="form-control" name="clasificacion" id="clasificacion" value="{{ videojuego.clasificacion }}" required>
            </div>

            <div class="mb-3">
                <label for="plataforma" class="form-label">Plataforma:</label>
                <select class="form-control" name="plataforma" id="plataforma" required>
                    {% for plataforma in plataformas %}
                        <option value="{{ plataforma.id }}" {% if videojuego.plataforma.id == plataforma.id %}selected{% endif %}>
                            {{ plataforma.nombre }}
                        </option>
                    {% endfor %}
                </select>
            </div>

            <div class="mb-3">
                <label for="logo">Imagen del Videojuego: <small class="text-muted">Si no seleccionas una nueva imagen, se mantendrá la actual.</small></label>
                <input class="form-control" type="file" name="logo" id="logo" accept="image/*">
                {% if videojuego.logo %}
                    <img src="{{ videojuego.logo.url }}" height="auto" width="100px" alt="Logo del videojuego">
                {% else %}
                    No tiene imagen
                {% endif %}
            </div>

            <div class="mb-3">
                <label for="pdf">Archivo PDF con Información: <small class="text-muted">Si no seleccionas un nuevo documento, se mantendrá el actual.</small></label>
                <input class="form-control" type="file" name="pdf" id="pdf" accept="application/pdf">
                {% if videojuego.pdf %}
                    <div style="height: 100%; width: 100%;">
                        <iframe src="{{ videojuego.pdf.url }}" frameborder="0"></iframe>
                    </div>
                {% else %}
                    No tiene archivo PDF
                {% endif %}
            </div>

            <div class="d-grid gap-2 d-md-flex justify-content-md-end mt-4">
                <a href="{% url 'listarVideojuegos' %}" class="btn btn-outline-danger me-md-2">Cancelar <i class="fa fa-times"></i></a>
                <button type="submit" class="btn btn-outline-primary">Actualizar Videojuego <i class="fa-solid fa-pen-to-square"></i></button>
            </div>
        </form>
    </div>
    <div class="col-md-3"></div>
</div>

<script>
    $("#formEditarJuego").validate({
        rules:{
            "titulo":{
                required:true,
                minlength:3,
                maxlength:100
            },
            "genero":{
                required:true
            },
            "desarrollador":{
                required:true,
                minlength:3,
                maxlength:50
            },
            "fecha_lanzamiento":{
                required:true,
                date:true
            },
            "clasificacion":{
                required:true,
                minlength:3,
                maxlength:20
            },
        },
        messages:{
            "titulo":{
                required:"El título es requerido.",
                minlength:"Debe tener al menos 3 caracteres.",
                maxlength:"No puede superar los 100 caracteres."
            },
            "genero":{
                required:"El género es requerido."
            },
            "desarrollador":{
                required:"El desarrollador es requerido.",
                minlength:"Debe tener al menos 3 caracteres.",
                maxlength:"No puede superar los 50 caracteres."
            },
            "fecha_lanzamiento":{
                required: "La fecha de lanzamiento es requerida.",
                date: "Debe ingresar una fecha válida."
            },
            "clasificacion":{
                required:"La clasificación es requerida.",
                minlength:"Debe tener al menos 3 caracteres.",
                maxlength:"No puede superar los 20 caracteres."
            }
        },
    });
</script>

<script>
    $(document).ready(function() {
        $("#logo").fileinput({
            language: "es",
            allowedFileExtensions: ["jpg", "jpeg", "png"],
            showUpload: false, 
            dropZoneEnabled: true, 
            maxFileSize: 2000, 
            showPreview: true, 
            browseLabel: "Seleccionar imagen",
            removeLabel: "Eliminar",
            initialCaption: "Arrastra y suelta la imagen aquí",
            showRemove: true, 
            showZoom: true, 
            showDrag: true 
        });
    });
</script>
{% endblock %}
