{% extends "plantilla.html" %}
{% block contenido %}
<h1>LISTADO DE CURSOS</h1> <br>
<a href="NuevoJuego" class="btn btn-primary">
    AGREGAR CURSO
</a>
<br><br>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>  


<table class="table table-bordered table-striped table-hover">
    <thead>
        <tr>
            <td>ID</td>
            <td>TITULO</td>
            <td>GENERO</td>
            <td>DESAROLLADOR</td>
            <td>FECHA DE LANZAMIENTO</td>
            <td>CLASIFICACION</td>
            <th>FOTO DEL JUEGO</th>
            <th>ARCHIVO PDF CON LOS COMPONENTES</th>
        </tr>
    </thead>
        <tbody>
            {%for Juegos in  Juegos %}
                <tr>
                    <td>{{Juegos.id}}</td>
                    <td>{{Juegos.titulo}}</td>
                    <td>{{Juegos.genero}}</td>
                    <td>{{Juegos.desarollador}}</td>
                    <td>{{Juegos.fecha_lanzamiento}}</td>
                    <td>{{Juegos.clasificacion}}</td>
                    <td>
                        {% if Reservas.logo %}
                        <img src="{{Reservas.logo.url}}" height="80px" alt="">
                        {% else %}
                        Ninguna
                        {% endif %}
                    </td>
                    <td>
                        {% if Reservas.pdf %}
                        <a href="{{ Reservas.pdf.url }}" target="_blank">Ver PDF</a>
                        {% else %}
                            ninguno
                        {% endif %}
                    </td>
                    <td>
                        <a href="{% url 'editarJuego' Juegos.id %}" class="btn btn-outline-warning">
                            <i class="fa fa-pen"></i>
                        </a>
                        <a href="#" onclick="confirmarEliminacion({{ Juegos.id }})" class="btn btn-outline-danger"><i class="fa fa-trash"></i></a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
</table>


<!-- Incluir SweetAlert2 desde CDN -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
    // Función para mostrar el mensaje de confirmación antes de eliminar
    function confirmarEliminacion(id) {
        Swal.fire({
            title: "Are you sure?",
            text: "You won't be able to revert this!",
            icon: "warning",
            showCancelButton: true,
            confirmButtonColor: "#3085d6",
            cancelButtonColor: "#d33",
            confirmButtonText: "Yes, delete it!"
        }).then((result) => {
            if (result.isConfirmed) {
                Swal.fire({
                    title: "Deleted!",
                    text: "Your file has been deleted.",
                    icon: "success",
                    timer: 1500,
                    showConfirmButton: false
                }).then(() => {
                    // Redirige a la URL de eliminación después de mostrar el mensaje
                    window.location.href = "EliminarJ/" + id;
                });
            }
        });
    }
</script>

    {% if messages %}
            {% for mensaje in messages %}
            <script>
                Swal.fire({
                    title: "CONFIRMACION",
                    text: "{{mensaje}}",
                    icon: "sucess"
                })
            </scrip>
            {% endfor %}
    {% endif %} 

<br><br><br><br><br><br><br><br><br>
{% endblock %}